.timeline-card {
  background: linear-gradient(transparent 20%, #f87474 100%) !important;
}
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Shadow effect on hover */
  cursor: pointer;
}
@media (max-width: 768px) {
  .centerline {
    display: none;
  }
  .timeline-item {
    flex-direction: column !important;
    align-items: center !important;
    align-self: center !important;
  }
  .timeline-container {
    width: 100% !important;
    gap: 30px;
  }
}
