@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;500&family=Kanit:wght@300&family=Noto+Sans:ital@1&family=Oxygen&family=Poltawski+Nowy:wght@600&family=Roboto:wght@400;500&family=Rubik:wght@400;500;700&family=Ubuntu:wght@500&display=swap");

//HomePage
.Homepage-section {
  background: url(../../assets/images/profile.jpeg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  padding: 0;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background: #003;
}
.homepage-container {
  color: white;
  text-align: center;
  background: none;
  position: relative;
  display: table-cell !important;
  vertical-align: middle;
  h5 {
    font-family: "poppins-bold", sans-serif;
    line-height: 1.565;
  }
  h1 {
    font-weight: 400;
    font-size: 4rem;
    line-height: 1.071;
    margin-top: 1rem;
    letter-spacing: 3px;
    margin-bottom: 2rem;
  }
  .homepage-subtitle {
    font-size: 1.5rem;
  }
  .typist-text {
    font-weight: 800;
  }
  .Social_Icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    a {
      color: white;
      display: flex;
      width: 35px;
      height: 35px;
      align-items: center;
      justify-content: center;
      border: 1px solid white;
      border-radius: 50%;
      margin: 0 5px;
    }
  }
  .Bounce_Icon {
    border: 2px solid white;
    width: 23px;
    height: 40px;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
    top: 150px;
  }
  .Bounce_Dot {
    width: 1px;
    background-color: white;
    display: inline-block;
    height: 1px;
    bottom: 10px;
    position: relative;
    border: 2px solid white;
    animation: dot 1s linear infinite;
  }
  @keyframes dot {
    0% {
      top: 0px;
    }
    100% {
      top: 20px;
      opacity: 0;
    }
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .homepage-title > h1 {
    font-size: 30px;
  }
}
@media (min-width: 768px) and (max-width: 980px) {
  .homepage-title > h1 {
    font-size: 40px;
  }
}
@media (max-width: 600px) {
  .homepage-title > h1 {
    font-size: 20px;
  }
}

//Navbar
#header {
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 100;
  animation: all 0.6s ease-in-out;
  @keyframes all {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.Navbar-Container {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  .Navbar-title {
    font-family: "Montserrat" !important;
    width: 100%;
    cursor: pointer;
    font-weight: 500;

    color: black;
    p {
      animation: title 0.3s;
      letter-spacing: 1px;
      font-size: 25px !important;
      @keyframes title {
        0% {
          opacity: 0;
          transform: translateY(50px);
        }
        100% {
          opacity: 1;
          transform: translateY(0px);
        }
      }
    }
    :hover {
      color: blueviolet;
      transition: 0.9s;
    }

    .lastName {
      color: blueviolet;
    }
  }
  .Navbar-List > ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin: 1rem;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-indent: 30px;
    cursor: pointer;
    color: black;
    :hover {
      color: blueviolet;
      text-decoration: underline;
    }
  }
  li {
    color: black;
    letter-spacing: 1px;
  }
}

//AboutPage

.aboutPage-Section {
  width: 100%;
  height: 100%;
  background: url(../../assets/images/gray-abstract.jpg) no-repeat;
  background-size: cover;
}
.aboutPage-container {
  width: 50%;
  margin: 100px auto 0 auto;
  color: black;

  padding-top: 100px;
}
.intro-text {
  font-family: "Smythe", cursive !important;
}
.about-text {
  font-family: "Barlow Semi Condensed", sans-serif !important;
}
.my-Title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.media-left {
  width: 68%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.media-body {
  display: flex;
  flex-direction: column;
  gap: 45px;
  margin: 20px 0;
}

.click-phone {
  border: 1px dotted gray;
  margin: 5px;
  padding: 2px;
  cursor: pointer;
}
.click-email {
  border: 1px dotted gray;
  margin: 5px;
  padding: 2px;
  cursor: pointer;
}
.info-list {
  li {
    label {
      font-weight: 900;
      font-family: "Open Sans", sans-serif !important;
    }
  }
}

//Progress bar

.firstProgressBar-div {
  margin-top: 15px;
}
.first-ProgressBar {
  width: 100%;
  background: linear-gradient(90deg, black 95%, white 5%);
  border: 1px solid;
  padding: 3px;
  margin-bottom: 30px;
}
.firstProgressStatus {
  background-color: black;
  color: white;
  position: relative;
  padding: 4px;
  font-size: 10px;
  left: 145px;
  ::after {
    background-color: red;
    padding: 2px;
    position: absolute;
  }
}

.second-ProgressBar {
  width: 100%;
  background: linear-gradient(90deg, black 100%, white 0%);
  border: 1px solid;
  padding: 3px;
  margin-bottom: 30px;
}

.secondProgressStatus {
  background-color: black;
  color: white;
  position: relative;
  padding: 4px;
  font-size: 10px;
  left: 200px;
  ::after {
    background-color: red;
    padding: 2px;
    position: absolute;
  }
}
.third-ProgressBar {
  width: 100%;
  background: linear-gradient(90deg, black 80%, white 20%);
  border: 1px solid;
  padding: 3px;
  margin-bottom: 30px;
}
.thirdProgressStatus {
  background-color: black;
  color: white;
  position: relative;
  padding: 4px;
  font-size: 10px;
  left: 70px;
  ::after {
    background-color: red;
    padding: 2px;
    position: absolute;
  }
}
.fourth-ProgressBar {
  width: 100%;
  background: linear-gradient(90deg, black 85%, white 15%);
  border: 1px solid;
  padding: 3px;
  margin-bottom: 30px;
}
.fourthProgressStatus {
  background-color: black;
  color: white;
  position: relative;
  padding: 4px;
  font-size: 10px;
  left: 170px;
  ::after {
    background-color: red;
    padding: 2px;
    position: absolute;
  }
}
.fifth-ProgressBar {
  width: 100%;
  background: linear-gradient(90deg, black 70%, white 30%);
  border: 1px solid;
  padding: 3px;
  margin-bottom: 30px;
}
.fifthProgressStatus {
  background-color: black;
  color: white;
  position: relative;
  padding: 4px;
  font-size: 10px;
  left: 55px;
  ::after {
    background-color: red;
    padding: 2px;
    position: absolute;
  }
}

/* hire-me*/

#parallex {
}
.Hire-me {
  background: url("../../assets/images/parallex.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 180px;
}
.Hireme-div {
  display: flex;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  gap: 20px;
  padding-top: 75px;
  p {
    font-size: 29px;
    margin: auto;
  }
  a {
  }
  button {
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 2px;
    width: 140px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 8px;
    height: 100%;
  }
  button:hover {
    background-color: #54b435;
    border: none;
  }
}

//Experience

.experience {
  height: 100%;
  width: 100%;
}
.experience-section {
  background: url(../../assets/images/experience-background.jpg) no-repeat;
  background-size: cover;
  margin-top: -100px;
}
.Experience-container {
  margin: 100px auto 0 auto;
  padding-top: 100px;
}
.center-line {
  background-color: #ddd;
  position: absolute;
  height: 100%;
  width: 4px;
  left: 50%;
}
.project-details {
  width: 40%;
  padding: 15px;
  background-color: white;
  height: 85px;
  .title1 {
    font-family: "roboto";
    font-size: 16px;
    font-weight: 600;
  }
  .subtitle1 {
    color: gray;
    font-size: 14px;
  }
  .description1 {
    margin-top: 7px;
    color: gray;
    font-size: 15px;
  }
}
